<a href="https://colab.research.google.com/github/ElicleytonPB/AULASPROGRAMA-OFPB/blob/main/Aprendendo2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
gente=['cleyton','rafa','gabriel','deda','anne','jeus']
len(gente)

6

In [5]:
##A estrutura de dados Lista em python aceita que você faça coleções com tipos de dados diferentes.
#gente=['cleyton','rafa','gabriel','deda','anne','jeus',3,4,5]

gente=['cleyton','rafa','gabriel','deda','anne','jesus']
len(gente)
print(gente[2:4])
print(gente[0])

['gabriel', 'deda']
cleyton

In [9]:
#alterar valor de um item na lista
gente=['cleyton','rafa','gabriel','deda','anne','jeus','maria','joão','marcos','tiago']
gente[4]='santo'
print(gente)

['cleyton', 'rafa', 'gabriel', 'deda', 'santo', 'jeus', 'maria', 'joão', 'marcos', 'tiago']

In [10]:
#adicionar valores na lista
gente=['cleyton','rafa','gabriel','deda','anne','jeus','maria','joão','marcos','tiago']
gente.append('pedro')
print(gente)

['cleyton', 'rafa', 'gabriel', 'deda', 'anne', 'jeus', 'maria', 'joão', 'marcos', 'tiago', 'pedro']

In [14]:
#adicionar com input
gente=['cleyton','rafa','gabriel','deda','anne','jeus','maria','joão','marcos','tiago']
gente.append(input('Insira um nome para adicionar na lista'))

Insira um nome para adicionar na listaTimótio

In [16]:
print(gente)

['cleyton', 'rafa', 'gabriel', 'deda', 'anne', 'jeus', 'maria', 'joão', 'marcos', 'tiago', 'Timótio']

In [26]:
##Descobrir se há um valor determinado na lista, exibir sua posição na lista
gente=['cleyton','rafa','gabriel','deda','anne','jeus','maria','joão','marcos','tiago']
if 'gabriel' in gente:
  print('Cabeção')
elif 'Jesus ' in gente:
  print('Salvador')
elif 'Deda' in gente:
  print('Gazela')
else:
  print('Ganhou')

Salvador

In [29]:
gente=['cleyton','rafa','gabriel','deda','anne','jeus','maria','joão','marcos','tiago']
nome=input('Digite um nome')
if nome in gente:
  print('Há o nome , ' , nome)
else:
  print('Não há o nome ,' , nome)

Digite um nomeseverina
Não há o nome , severina

In [32]:
#eliminar o ultimo elemento da list
gente=['cleyton','rafa','gabriel','deda','anne','jeus','maria','joão','marcos','tiago']
gente.pop(2)#ao colocar um número vai tirar a quantidade indicada
print(gente)

['cleyton', 'rafa', 'deda', 'anne', 'jeus', 'maria', 'joão', 'marcos', 'tiago']

In [34]:
#deletar um item especifico 
gente=['cleyton','rafa','gabriel','deda','anne','jeus','maria','joão','marcos','tiago']
del gente[4]
print(gente)

['cleyton', 'rafa', 'gabriel', 'deda', 'jeus', 'maria', 'joão', 'marcos', 'tiago']

In [39]:
atore=['rafa','cleyton','zaira','ásafe','ruama']
nome=input('Digite um nome : ')
if nome in atore:
  print('Existe o nome ,' , nome)
else:
  print('Não existe o nome, ' , nome)

Digite um nome : zz
Não existe o nome,  zz

In [45]:
#conferir nome na lista e remover nome conferido
atore=['rafa','cleyton','zaira','ásafe','ruama']
nome=input('Digite um nome : ')
if nome in atore:
  atore.remove(nome)
  print('Existe o nome ,' , nome)
else:
  print('Não existe o nome, ' , nome)
print(atore)

Digite um nome : rafa
Existe o nome , rafa
['cleyton', 'zaira', 'ásafe', 'ruama']

In [1]:
#laço for
obj=['faca','bandeja','copo','prato','colher','mesa','relógio']
for x in obj:
  print(x)
len(obj)

faca
bandeja
copo
prato
colher
mesa
relógio

7

In [3]:
numeros=[]
for num in range(15):
 numeros.append(num)
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [9]:
import random
num=[]
for n in range(random.randrange(0,25)):
  num.append(n)
num

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [25]:
a=random.randrange(95,100)
a

97

In [37]:
num=int(input('Digite um número para saber se é par ou multiplo de 3 ou multiplo de 5'))

if (num % 2 == 0 and num % 3 == 0):
  print('Número par e multiplo de 3')
elif (num % 5 == 0 and num % 2 != 0 ):
  print('Multiplo de 5 e impar')
else:
  print('Nada')

Digite um número para saber se é par ou multiplo de 3 ou multiplo de 530
Número par e multiplo de 3

In [43]:
numpares=[]
for n in range(51):
  if(n % 2 == 0 ):
    numpares.append(n)
numpares

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [44]:
for num in numeros:
  if num % 2 == 0:
    print(num)

0
2
4
6
8
10
12
14

In [45]:
dobro=[]
for num in numeros:
  dobro.append(num*2)
dobro

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [48]:
triplo=[]
for num in numeros:
  triplo.append(num*3)
triplo

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42]

In [ ]:
notas = []
for num in range(5):
 nota= int(input('Digite sua nota'))
 notas.append(nota)
notas

In [55]:
num=0
for n in range(101):
 num=num+n
num

5050

In [63]:
jogos=['cod','need','moh','bomba','gta']
for jogo in jogos:
  print(jogo)
jogos.append(input('Digite um jogo'))
print(jogos)

cod
need
moh
bomba
gta
Digite um jogofutebol
['cod', 'need', 'moh', 'bomba', 'gta', 'futebol']