<a href="https://colab.research.google.com/github/ElicleytonPB/AULASPROGRAMA-OFPB/blob/main/Aula4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#ESTRUTURAS DE DADOS : COLEÇÕES EM PYTHON
#** LINGUAGEM DE MAQUINA OU ASSEMBLY > ALTO NÍVEL : 1 C (- 2 JAVA / PYTHON / LISTA>TUPLA>DICIONÁRIO ( JSON) >CONJUNTOS ( SET)
# MAP E FILTER ( ITÉRAVEL + ALGUMA COISA QUE PODE REALIZAR ITEREÇÃO SOBRE ELA = IR LÁ E VOLTAR =)

In [4]:
#OPERAÇÕES COM LISTA 
#EXTEND() JOGA VARIOS ELEMENTOS NA LISTA
nomes = ["ze","tião","joão"]
nomes.append("Julia")
nomes

['ze', 'tião', 'joão', 'Julia']

In [8]:
nome = ["bruna","kely","gerilda"]
nomes.extend(nome)
nomes

['ze', 'tião', 'joão', 'ze', 'tião', 'joão', 'bruna', 'kely', 'gerilda']

In [16]:
numero = [ 1,2,5,9,8,7,4,55,66,988,9,10,18,52,45]
numero.remove(numero[0])
numero.pop()
numero

[2, 5, 9, 8, 7, 4, 55, 66, 988, 9, 10, 18, 52]

In [17]:
#ordenação de elementos
notas=[2,2,3,4,5,8,5,9,10,7,8,3,4,6]
notas.sort()
notas

[2, 2, 3, 3, 4, 4, 5, 5, 6, 7, 8, 8, 9, 10]

In [18]:
nomes = ["ademar","camila","luis","joão","cleyton","zaira"]
nomes.sort()
nomes

['ademar', 'camila', 'cleyton', 'joão', 'luis', 'zaira']

In [19]:
notas=[2,2,3,4,5,8,5,9,10,7,8,3,4,6]
notas.sort(reverse=True)
notas

[10, 9, 8, 8, 7, 6, 5, 5, 4, 4, 3, 3, 2, 2]

In [23]:
#   map = lista de dados e alterar todos os elementos com a mesma regra usar map, adicionar ponto em notas de todos:    MAP(FUNCAO,SEQUENCIAL)
numeros=[2,4,8,5,2,7,5,6]
novalista=list(map(lambda x : x*2, numeros))
novalista

# filter = PARA  MUDAR ALGO ESPECIFICOl

[4, 8, 16, 10, 4, 14, 10, 12]

In [24]:
numeros=[2,4,8,5,2,7,5,6]
novalista=list(map(lambda x : x/3, numeros))
novalista

[0.6666666666666666,
 1.3333333333333333,
 2.6666666666666665,
 1.6666666666666667,
 0.6666666666666666,
 2.3333333333333335,
 1.6666666666666667,
 2.0]

In [28]:
numeros=[1,2,5,98,87,6,5,856,5,6,2,5,2,85,8]
novalista=list(map(lambda x : x+2, numeros))
novalista

[3, 4, 7, 100, 89, 8, 7, 858, 7, 8, 4, 7, 4, 87, 10]

In [32]:
nomes=['josé','joaquim','andre','bruno','cleyton','eli','rafaela','zaira','ásafe']
newlist=list(filter(lambda x : len(x)>6 , nomes))
newlist

['joaquim', 'cleyton', 'rafaela']

In [36]:
notas=[2,5,6,7,8,4,5,6,9,5,2,4,5,10,10,9,10,8,7,4,5,2,3,6,3,2,5,4,2,10]
newnotas=list(filter(lambda x :x>6,notas))
newnotas

[7, 8, 9, 10, 10, 9, 10, 8, 7, 10]

In [38]:
lista=[2,5,8,7,6,9,55,22,3,66,44,88,66]
newlista=list(map(lambda x : x**2,lista))
newlista

[4, 25, 64, 49, 36, 81, 3025, 484, 9, 4356, 1936, 7744, 4356]

In [39]:
nome=['cleyton','kely','zaira','ásafe','elias','gerilda','gabriel']
nomelist=list(map(lambda x : len (x),nome))
nomelist

[7, 4, 5, 5, 5, 7, 7]

In [51]:
numero=[2,564,5,685,76,46,35,6,746,7,97,9,496,46,4,6,461,87,97,94,9,49,46,46,13,1,31,64,6,56,746,4]
par=list(filter(lambda x : (x%2 == 0)  , numero))
par

[2, 564, 76, 46, 6, 746, 496, 46, 4, 6, 94, 46, 46, 64, 6, 56, 746, 4]

In [56]:
nome=['cleyton','kely','zaira','ásafe','elias','gerilda','gabriel','andre','antigão','ana']
name=list(filter(lambda x :(x[0])=='a',nome))
name

['andre', 'antigão', 'ana']

In [69]:
notas=[4,5,4,6,8,9,7,6,8,7,2,1,0,9,8,7,5,6,2,5,49,6,5,56,6,4,8,4,4,95,64,4,6,4,8,8]
aprovado=list(filter(lambda x : x > 7,notas))
print('Aprovados :',aprovado)

Aprovados : [8, 9, 8, 9, 8, 49, 56, 8, 95, 64, 8, 8]