<a href="https://colab.research.google.com/github/ElicleytonPB/AULASPROGRAMA-OFPB/blob/main/aula4_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# LINGUAGENS FORTEMENTE TIPADAS / LINGUAGEM DE TIPAGEM DINÂNMICA 
# listas são estruturas de dados formadas por elementos de um mesmo tipo
numeros=[33,4,5,6,23]
print(numeros)

In [6]:
len(numeros)

11

In [ ]:
#Indices( começa na posição 0)
print(numeros[0])
print(numeros[1])
print(numeros[2])
print(numeros[3])
print(numeros[4])
print(numeros[5])

In [27]:
#Listas de outros tipos 
alunos=['Mariana','Luis','Higor','Enzo','Valentina']
print(alunos)

['Mariana', 'Luis', 'Higor', 'Enzo', 'Valentina']

In [28]:
#Alterar os valores de itens da lista
alunos[3]='Ivan'
print(alunos)

['Mariana', 'Luis', 'Higor', 'Ivan', 'Valentina']

In [34]:
#inserir nome
alunos.append('Eu')
alunos

['Mariana', 'Luis', 'Higor', 'Ivan', 'Valentina', 'Alex', 'Alex', 'Alex', 'Eu']

In [35]:
alunos.append(input('Digite o nome'))

Digite o nomeNois

In [37]:
print(alunos)

['Mariana', 'Luis', 'Higor', 'Ivan', 'Valentina', 'Alex', 'Alex', 'Alex', 'Eu', 'Nois']

In [39]:
#Retira o ultimo nome
alunos.pop()
alunos

['Mariana', 'Luis', 'Higor', 'Ivan', 'Valentina', 'Alex', 'Alex', 'Alex', 'Eu']

In [45]:
#Descobrir se há um valor determinado na lista
if 'Luiz' in alunos:
  print('TEM')
else:
  print('Não')

Não